body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #5369D6, #253273);  
    background-image: url(../);
}

.header {
    width: 1920px;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0%;
    background-color: transparent;
}

.header img {
    height: 50px;
}

.header .text {
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    display: flex;
    gap: 20px;
}
