@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-blend-mode: overlay;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("../images/geral/backgroud.png"), linear-gradient(to top,#253273,  #5369D6);
}

.header {
    width: 100%;
    min-width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;    
    background: linear-gradient(180deg, #5369D6 0%, #253273 100%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    z-index: 10; 
}

.container_header {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_header > #maoEsquerda, .container_header > #maoDireita {
    width: fit-content;
    height: 50px;
}

.container_header > a {
    color: white;
    text-decoration: none;
    height: fit-content;
    width: 68px;
    text-align: center;
    font-size: 20px;
}

.container-arquivos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: fit-content;
}

.container-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-btn {
    max-width: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}

.frame{
    width: 160px;
    height: 3px;
    background: #FFFFFF;
    border: 0;
}

#arquivo {
    grid-row: 2;
    grid-column: 1;
}
#arquivo a{
    background: none;
    color: gray;
}
#arquivo .frame{
    background-color: gray;
}

.input_url {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_url input {
    width: 810px;
    height: 64px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(243, 243, 243, 0.46);
    font-size: 20px;
    text-align: left;
    text-indent: 10px;
    margin-top: 11px;
    margin-bottom: 20px;
}

.input_url input::placeholder {
    color: #FFF;
    font-size: 25px;
}

.input_url img {
    width: 44px;
    height: 44px;
    margin-left: 10px;
}

.texto{
    width: 500px;
    height: 40px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
}

@media (max-width: 1400px) and (min-width: 768px){
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0 5%;
    }

    .container_header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
    }

    .container_header > * {
        margin: 0 50px;
    }

    .input_url input {
        width: 559px;
        height: 50px; 
        font-size: 18px; 
    }
}

