.home_page_body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/geral/backgroud.png");
    background-size: cover;
}

.home_page_nav{
    width: 100%;
    height: 77px;
    background: linear-gradient(90deg, rgba(83,105,214,1) 35%, rgba(37,50,115,1) 100%);
}